@font-face {
font-family: roboto-light;
src: url(../font/roboto/light.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-image: url("../img/bg2.jpg");
    background-size: cover;
    font-family: roboto-light, sans-serif;
}

md-content {
    background-color: transparent;
    padding: 50px 0 0 0;
}


md-input-container .md-input {
    color: white;
}

md-input-container label {
    color: white;
}

md-input-container .md-input {
    border-color: white;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input{
    border-color: white;
}

md-input-container:not(.md-input-invalid).md-input-focused label{
    color: white;
}

md-input-container:not(.md-input-invalid) label{
    color: white;
}

md-input-container.md-input-has-value label:not(.md-no-float) {
    -webkit-transform: translate3d(0,6px,0) scale(.75);
    transform: translate3d(0,6px,0) scale(.75);
    color: white;
}


.md-button.md-primary.pass-forgot {
    color: white;
}

/*MOBILE DEVICES*/
@media screen and (max-width: 600px) {

    md-content {
        background-color: transparent;
        padding: 20px 0 0 0;
    }

    img {
        width: 50%;
        margin: 0 0 20px 0;
    }

    .greating-first {
        color: white;
        font-size: 20px;
        text-transform: uppercase;
    }

    .greating-second {
        color: white;
        font-size: 25px;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .promo-text {
        color: white;
        font-size: 25px;
        text-transform: uppercase;
        border-top: 3px solid white;
        margin-top: 20px;
    }

    .promo-text-second {
        border-top: 3px solid white;
        margin-top: 30px;
        text-transform: uppercase;
        color: white;
        font-size: 20px;
    }
}

/*TABLETS*/
@media screen and (max-width: 992px) and (min-width: 601px) {

    img {
        width: 50%;
        margin: 0 0 40px 0;
    }

    .greating-first {
        color: white;
        font-size: 25px;
        text-transform: uppercase;
    }

    .greating-second {
        color: white;
        font-size: 30px;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .promo-text {
        color: white;
        font-size: 30px;
        text-transform: uppercase;
        margin-top: 30px;
    }


}

/*DESCTOPS*/
@media screen and (min-width: 993px) {

    img {
        width: 30%;
        margin: 0 0 40px 0;
    }

    .greating-first {
        color: white;
        font-size: 30px;
        text-transform: uppercase;
    }

    .greating-second {
        color: white;
        font-size: 35px;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .promo-text {
        color: white;
        font-size: 35px;
        text-transform: uppercase;
        margin-top: 30px;
    }
}