<!DOCTYPE html>
<html ng-app="IntouchApp" ng-cloack>
<head lang="en">
    <meta charset="UTF-8">
    <title>InTouch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<div layout="row" ng-controller="StartPageLogoController as startpage" layout-xs="column">

    <md-content  flex>
        <div flex  layout="row" layout-align="center center">
            <img ng-src="img/{{startpage.src}}">
        </div>

        <div flex layout="column" layout-align="center center">

            <p class="promo-text">sign in</p>

            <md-input-container class="md-block">
                <label>Login/E-mail</label>
                <input ng-model="user.login">
            </md-input-container>

            <md-input-container class="md-block" style="margin-top: -10px;">
                <label>Password</label>
                <input type="email" ng-model="user.email">
            </md-input-container>

            <md-button class="md-raised md-primary">
                <md-icon><i class="material-icons">keyboard_arrow_right</i></md-icon>
                Sign in
            </md-button>

            <p class="promo-text-second">first time here?</p>

            <md-button ng-click="registrationPage()" class="md-raised md-primary">
                Quick registration
            </md-button>

            <md-button ng-click='startpage.passRecowery()' md-no-ink class="md-primary pass-forgot">Forgot password?</md-button>

        </div>
    </md-content>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="controllers.js"></script>

</body>
</html>